.match-overview {
  width: 90%;
  .matches-title {
    color: #00004b;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 36px;
    border-bottom: solid 1px #afb6bc;
    margin-bottom: 40px;
  }
}
